## 处理缺失值

### 缺失值的表示

#### None：Python的表示法

In [1]:
import numpy as np
import pandas as pd

vals1 = np.array([1, None, 3, 4])
vals1

array([1, None, 3, 4], dtype=object)

In [2]:
vals1.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

#### NaN

In [3]:
vals2 = np.array([1, np.nan, 3, 4])
vals2.dtype

dtype('float64')

In [4]:
vals2.sum()

nan

In [5]:
1 + np.nan

nan

In [6]:
np.nansum(vals2)

8.0

#### Pandas 中的 NaN 和 None

In [8]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [10]:
x = pd.Series(range(2), dtype=int)
x

0    0
1    1
dtype: int64

In [12]:
x[0] = None
x

0    NaN
1    1.0
dtype: float64

### 缺失值的操作

#### 判断缺失值：``isnull``

In [13]:
data = pd.Series([1, np.nan, 'hello', None])
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [14]:
data[data.notnull()]

0        1
2    hello
dtype: object

#### 忽略缺失值：``dropna()``

In [15]:
data.dropna()

0        1
2    hello
dtype: object

In [18]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [19]:
df.dropna() # 默认去掉含有na的行

     0    1  2
1  2.0  3.0  5

In [20]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

In [21]:
df[3] = np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [22]:
df.dropna(axis='columns', how='all') # how 默认为 any
                                     # 改为all，只删除全部为NaN的行或者列

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [25]:
df.dropna(axis='rows', thresh=3) # 使用threshold

     0    1  2   3
1  2.0  3.0  5 NaN

#### 填补缺失值：``fillna()``

In [26]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [27]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [28]:
data.fillna(method='ffill') # forward-fill

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [29]:
data.fillna(method='bfill') # back-fill

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

In [30]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [31]:
df.fillna(method='ffill', axis=1)

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0